@tailwind base;
@tailwind components;
@tailwind utilities;

section[data-section="hero"] {
  .media-wrapper {
    @media (max-width: 1440px) {
      margin-left: 120px;
    }
    @media (min-width: 1441px) {
      max-width: calc((100vw / 2) + ((1440px - 240px) / 2));
      margin-left: auto;
    }
  }
}
